@tailwind base;
@tailwind components;
@tailwind utilities;

.hangman-container {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #ffeb3b;
  color: #171717;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category-selection button,
.restart-btn {
  background: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.category-selection button:hover,
.restart-btn:hover {
  background: #388e3c;
}

.word-display {
  font-size: 32px;
  margin: 20px 0;
  letter-spacing: 8px;
  font-weight: bold;
}
.guessed-letters {
  font-size: 18px;
  margin-top: 10px;
  color: white;
}

.keyboard {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 8px;
  justify-content: center;
}

.keyboard button {
  padding: 15px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #444;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.keyboard button:disabled {
  background-color: #888;
  cursor: not-allowed;
}

.keyboard button:hover {
  background-color: #666;
}

.hangman-drawing {
  width: 200px;
  height: 250px;
  position: relative;
  margin: 20px auto;
}

.hangman-part {
  position: absolute;
  background-color: white;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.hangman-part.show {
  opacity: 1;
}

.head {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 40px;
  left: 80px;
  border: 3px solid white;
}

.body {
  width: 5px;
  height: 60px;
  top: 80px;
  left: 97px;
  background-color: white;
}

.arm-left {
  width: 40px;
  height: 5px;
  top: 100px;
  left: 60px;
  transform: rotate(-30deg);
}

.arm-right {
  width: 40px;
  height: 5px;
  top: 100px;
  left: 100px;
  transform: rotate(30deg);
}

.leg-left {
  width: 40px;
  height: 5px;
  top: 140px;
  left: 60px;
  transform: rotate(30deg);
}

.leg-right {
  width: 40px;
  height: 5px;
  top: 140px;
  left: 100px;
  transform: rotate(-30deg);
}