.header {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .header-content {
    background: rgba(0, 0, 0, 0.6);
    color:white;
    padding: 10px;
    border-radius: 5px;
  }
  
  .header-content p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
  }
  
  .signout-btn {
    background-color: #3a3a39;
    border: 1px solid #585858;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .signout-btn:hover {
    border-color: #ffffff;
    transform: scale(1.05);
  }

  @media (max-width: 768px) {
    .header {
      top: 15px;
      left: 15px;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
  
    .header-content {
      font-size: 12px;
      padding: 8px;
    }
  
    .signout-btn {
      font-size: 14px;
      padding: 8px 16px;
      max-width: 180px;
    }
  }
  
  @media (max-width: 480px) {
    .header {
      top: 10px;
      left: 10px;
      flex-direction: column;
      align-items: flex-start;
    }
  
    .header-content {
      font-size: 10px;
      padding: 6px;
      max-width: 180px;
    }
  
    .signout-btn {
      font-size: 12px;
      padding: 6px 12px;
      max-width: 160px;
    }
  }