.header {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .header-content {
    background: rgba(0, 0, 0, 0.6);
    color:white;
    padding: 10px;
    border-radius: 5px;
  }
  
  .header-content p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
  }
  
  .signout-btn {
    background-color: #3a3a39;
    border: 1px solid #585858;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .signout-btn:hover {
    border-color: #ffffff;
    transform: scale(1.05);
  }
